/wp-content/themes/twentyeleven/
/wp-content/themes/twentytwelve/
/wp-content/plugins/syntaxhighlighter/
/wp-content/plugins/tabs-in-post-editor/
/wp-content/plugins/akismet/

bg.mp3
kimi.jpg
mbox

/wp-content/plugins/get-recent-comments/
/wp-content/languages/

